<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>TodoAPP</title>

        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css"
        />
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
    </head>
    <body>
        <div class="ui container" style="margin-top: 50px">
            <h1 class="ui center aligned header">TODO APP BOI</h1>

            <form class="ui form" action="{{ url_for('add') }}" method="POST">
                <div class="field">
                    <label for="title">Create new task</label>
                    <input
                        type="text"
                        name="title"
                        placeholder="Enter new task..."
                    />
                    <button class="ui purple button" type="submit">Add</button>
                </div>
            </form>

            {% for todo in todo_list%}
            <div class="ui segment">
                <p class="ui big header">{{todo.id}} | {{todo.title}}</p>

                {% if todo.complete == False %}
                <span class="ui gray label"> Not Completed</span>
                {% else %}
                <span class="ui green label"> Completed </span>
                {% endif %}
                <a
                    href="{{ url_for('update', todo_id = todo.id) }}"
                    method="POST"
                    class="ui blue button"
                    >Update</a
                >
                <a
                    href="{{ url_for('delete', todo_id = todo.id) }}"
                    class="ui red button"
                    >Delete</a
                >
            </div>
            {% endfor %}
        </div>
    </body>
</html>
